.lh-vars {
  --text-font-family: Roboto, Helvetica, Arial, sans-serif;
  --monospace-font-family: 'Menlo', 'dejavu sans mono', 'Consolas', 'Lucida Console', monospace;
  --body-background-color: #fff;
  --body-font-size: 14px;
  --body-line-height: 18px;
  --subheader-font-size: 14px;
  --subheader-line-height: 20px;
  --subheader-color: hsl(206, 6%, 25%);
  --header-bg-color: #f1f3f4;
  --header-font-size: 20px;
  --header-line-height: 24px;
  --title-font-size: 24px;
  --title-line-height: 28px;
  --caption-font-size: 12px;
  --caption-line-height: 16px;
  --default-padding: 12px;
  --section-padding: 16px;
  --section-indent: 16px;
  --audit-group-indent: 16px;
  --audit-item-gap: 5px;
  --audit-indent: 16px;
  --text-indent: 8px;
  --expandable-indent: 20px;
  --secondary-text-color: #565656;
  --fail-color: hsl(1, 73%, 45%);
  --average-color: hsl(31, 100%, 45%);
  --pass-color: hsl(139, 70%, 30%);
  --informative-color: #0c50c7;
  --medium-75-gray: #757575;
  --medium-50-gray: hsl(210, 17%, 98%);
  --medium-100-gray: hsl(200, 12%, 95%);
  --warning-color: #ffab00;
  --report-border-color: #ccc;
  --report-secondary-border-color: #ebebeb;
  --metric-timeline-rule-color: #b3b3b3;
  --display-value-gray: hsl(216, 5%, 39%);
  --report-width: calc(60 * var(--body-font-size));
  --report-min-width: 400px;
  --report-width-half: calc(30 * var(--body-font-size));
  --report-header-height: 161px;
  --report-header-color: #202124;
  --navitem-font-size: var(--body-font-size);
  --navitem-line-height: var(--body-line-height);
  --navitem-hpadding: var(--body-font-size);
  --navitem-vpadding: calc(var(--navitem-line-height) / 2);
  --lh-score-highlight-bg: hsla(0, 0%, 90%, 0.2);
  --lh-score-icon-background-size: 24px;
  --lh-group-icon-background-size: var(--lh-score-icon-background-size);
  --lh-score-margin: 12px;
  --lh-table-header-bg: #f8f9fa;
  --lh-table-higlight-bg: hsla(0, 0%, 75%, 0.1);
  --lh-sparkline-height: 5px;
  --lh-sparkline-thin-height: 3px;
  --lh-filmstrip-thumbnail-width: 60px;
  --lh-score-icon-width: calc(var(--body-font-size) / 14 * 16);
  --lh-category-score-width: calc(5 * var(--body-font-size));
  --lh-audit-vpadding: 8px;
  --lh-audit-index-width: 18px;
  --lh-audit-hgap: 12px;
  --lh-audit-group-vpadding: 8px;
  --lh-section-vpadding: 12px;
  --chevron-size: 12px;
  --circle-size: calc(3 * var(--header-font-size));
  --pass-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  viewBox=\0000220 0 48 48\000022\00003e\00003ctitle\00003echeck\00003c/title\00003e\00003cpath fill=\000022%23178239\000022  d=\000022M24 4C12.95 4 4 12.95 4 24c0 11.04 8.95 20 20 20 11.04 0 20-8.96 20-20 0-11.05-8.96-20-20-20zm-4 30L10 24l2.83-2.83L20 28.34l15.17-15.17L38 16 20 34z\000022/\00003e\00003c/svg\00003e');
  --average-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  viewBox=\0000220 0 48 48\000022\00003e\00003ctitle\00003einfo\00003c/title\00003e\00003cpath fill=\000022%23E67700\000022  d=\000022M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm2 30h-4V22h4v12zm0-16h-4v-4h4v4z\000022/\00003e\00003c/svg\00003e');
  --info-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  viewBox=\0000220 0 48 48\000022\00003e\00003ctitle\00003einfo\00003c/title\00003e\00003cpath fill=\000022%230097E1\000022  d=\000022M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm2 30h-4V22h4v12zm0-16h-4v-4h4v4z\000022/\00003e\00003c/svg\00003e');
  --fail-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  viewBox=\0000220 0 48 48\000022\00003e\00003ctitle\00003ewarn\00003c/title\00003e\00003cpath fill=\000022%23C7221F\000022  d=\000022M2 42h44L24 4 2 42zm24-6h-4v-4h4v4zm0-8h-4v-8h4v8z\000022/\00003e\00003c/svg\00003e');
  --content-paste-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  width=\00002224\000022  height=\00002224\000022\00003e\00003cpath fill=\000022%235E6268\000022  d=\000022M19 2h-4.18C14.4.84 13.3 0 12 0c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm7 18H5V4h2v3h10V4h2v16z\000022/\00003e\00003cpath d=\000022M0 0h24v24H0z\000022  fill=\000022none\000022/\00003e\00003c/svg\00003e');
  --av-timer-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  width=\00002224\000022  height=\00002224\000022  fill=\000022%235E6268\000022\00003e\00003cpath d=\000022M0 0h24v24H0z\000022  fill=\000022none\000022/\00003e\00003cpath d=\000022M15 1H9v2h6V1zm-4 13h2V8h-2v6zm8.03-6.61l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42A8.962 8.962 0 0 0 12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9a8.994 8.994 0 0 0 7.03-14.61zM12 20c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z\000022/\00003e\00003c/svg\00003e');
  --photo-filter-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  width=\00002248\000022  height=\00002248\000022\00003e\00003cpath fill=\000022none\000022  d=\000022M0 0h48v48H0V0z\000022/\00003e\00003cpath d=\000022M38.04 20v18H10V10h18V6H10.04c-2.2 0-4 1.8-4 4v28c0 2.2 1.8 4 4 4h28c2.2 0 4-1.8 4-4V20h-4zM34 20l1.88-4.12L40 14l-4.12-1.88L34 8l-1.88 4.12L28 14l4.12 1.88zm-7.5 1.5L24 16l-2.5 5.5L16 24l5.5 2.5L24 32l2.5-5.5L32 24z\000022  fill=\000022%235E6268\000022/\00003e\00003c/svg\00003e');
  --visibility-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  width=\00002248\000022  height=\00002248\000022\00003e\00003cpath d=\000022M0 0h48v48H0z\000022  fill=\000022none\000022/\00003e\00003cpath d=\000022M24 9C14 9 5.46 15.22 2 24c3.46 8.78 12 15 22 15 10.01 0 18.54-6.22 22-15-3.46-8.78-11.99-15-22-15zm0 25c-5.52 0-10-4.48-10-10s4.48-10 10-10 10 4.48 10 10-4.48 10-10 10zm0-16c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6z\000022  fill=\000022%235E6268\000022/\00003e\00003c/svg\00003e');
  --check-circle-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  width=\00002248\000022  height=\00002248\000022\00003e\00003cpath d=\000022M0 0h48v48H0z\000022  fill=\000022none\000022/\00003e\00003cpath d=\000022M24 4C12.95 4 4 12.95 4 24c0 11.04 8.95 20 20 20 11.04 0 20-8.96 20-20 0-11.05-8.96-20-20-20zm-4 30L10 24l2.83-2.83L20 28.34l15.17-15.17L38 16 20 34z\000022  fill=\000022%235E6268\000022/\00003e\00003c/svg\00003e');
  --check-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  width=\00002248\000022  height=\00002248\000022\00003e\00003cpath d=\000022M0 0h48v48H0z\000022  fill=\000022none\000022/\00003e\00003cpath d=\000022M18 32.34L9.66 24l-2.83 2.83L18 38l24-24-2.83-2.83z\000022/\00003e\00003c/svg\00003e');
  --warning-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  viewBox=\0000220 0 48 48\000022\00003e\00003ctitle\00003ewarn\00003c/title\00003e\00003cpath fill=\000022%235E6268\000022  d=\000022M2 42h44L24 4 2 42zm24-6h-4v-4h4v4zm0-8h-4v-8h4v8z\000022/\00003e\00003c/svg\00003e');
  --search-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  width=\00002248\000022  height=\00002248\000022\00003e\00003cpath d=\000022M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0a9 9 0 1 1 .001-18.001A9 9 0 0 1 19 28z\000022  fill=\000022%235E6268\000022/\00003e\00003cpath d=\000022M0 0h48v48H0z\000022  fill=\000022none\000022  /\00003e\00003c/svg\00003e');
  --remove-circle-icon-url: url('data:image/svg+xml;utf8,\00003csvg height=\00002224\000022  width=\00002224\000022  xmlns=\000022http://www.w3.org/2000/svg\000022\00003e\00003cpath d=\000022M0 0h24v24H0z\000022  fill=\000022none\000022/\00003e\00003cpath d=\000022M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z\000022  fill=\000022%235E6268\000022/\00003e\00003c/svg\00003e');
  --pwa-fast-reliable-gray-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022\00003e\00003cg fill=\000022none\000022  fill-rule=\000022nonzero\000022\00003e\00003ccircle fill=\000022%23DAE0E3\000022  cx=\00002212\000022  cy=\00002212\000022  r=\00002212\000022/\00003e\00003cpath d=\000022M12.3 4l6.3 2.8V11c0 3.88-2.69 7.52-6.3 8.4C8.69 18.52 6 14.89 6 11V6.8L12.3 4zm-.56 12.88l3.3-5.79.04-.08c.05-.1.01-.29-.26-.29h-1.96l.56-3.92h-.56L9.6 12.52c0 .03.07-.12-.03.07-.11.2-.12.37.2.37h1.97l-.56 3.92h.56z\000022  fill=\000022%23FFF\000022/\00003e\00003c/g\00003e\00003c/svg\00003e');
  --pwa-installable-gray-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022\00003e\00003cg fill=\000022none\000022  fill-rule=\000022nonzero\000022\00003e\00003ccircle fill=\000022%23DAE0E3\000022  cx=\00002212\000022  cy=\00002212\000022  r=\00002212\000022/\00003e\00003cpath d=\000022M12 5a7 7 0 1 0 0 14 7 7 0 0 0 0-14zm3.5 7.7h-2.8v2.8h-1.4v-2.8H8.5v-1.4h2.8V8.5h1.4v2.8h2.8v1.4z\000022  fill=\000022%23FFF\000022/\00003e\00003c/g\00003e\00003c/svg\00003e');
  --pwa-optimized-gray-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022\00003e\00003cg fill=\000022none\000022  fill-rule=\000022evenodd\000022\00003e\00003crect fill=\000022%23DAE0E3\000022  width=\00002224\000022  height=\00002224\000022  rx=\00002212\000022/\00003e\00003cpath fill=\000022%23FFF\000022  d=\000022M12 15.07l3.6 2.18-.95-4.1 3.18-2.76-4.2-.36L12 6.17l-1.64 3.86-4.2.36 3.2 2.76-.96 4.1z\000022/\00003e\00003cpath d=\000022M5 5h14v14H5z\000022/\00003e\00003c/g\00003e\00003c/svg\00003e');
  --pwa-fast-reliable-color-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022\00003e\00003cg fill-rule=\000022nonzero\000022  fill=\000022none\000022\00003e\00003ccircle fill=\000022%23CCE3F6\000022  cx=\00002212\000022  cy=\00002212\000022  r=\00002212\000022/\00003e\00003cpath d=\000022M12 4.3l6.3 2.8v4.2c0 3.88-2.69 7.52-6.3 8.4-3.61-.88-6.3-4.51-6.3-8.4V7.1L12 4.3zm-.56 12.88l3.3-5.79.04-.08c.05-.1.01-.29-.26-.29h-1.96l.56-3.92h-.56L9.3 12.82c0 .03.07-.12-.03.07-.11.2-.12.37.2.37h1.97l-.56 3.92h.56z\000022  fill=\000022%23304FFE\000022/\00003e\00003c/g\00003e\00003c/svg\00003e');
  --pwa-installable-color-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022\00003e\00003cg fill-rule=\000022nonzero\000022  fill=\000022none\000022\00003e\00003ccircle fill=\000022%23D4ECD5\000022  cx=\00002212\000022  cy=\00002212\000022  r=\00002212\000022/\00003e\00003cpath d=\000022M12 5a7 7 0 1 0 0 14 7 7 0 0 0 0-14zm3.5 7.7h-2.8v2.8h-1.4v-2.8H8.5v-1.4h2.8V8.5h1.4v2.8h2.8v1.4z\000022  fill=\000022%23009688\000022/\00003e\00003c/g\00003e\00003c/svg\00003e');
  --pwa-optimized-color-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022\00003e\00003cg fill=\000022none\000022  fill-rule=\000022evenodd\000022\00003e\00003crect fill=\000022%23FCE4EC\000022  width=\00002224\000022  height=\00002224\000022  rx=\00002212\000022/\00003e\00003cpath d=\000022M5 5h14v14H5z\000022/\00003e\00003cpath fill=\000022%23EC3F7A\000022  d=\000022M12 15.07l3.6 2.18-.95-4.1 3.18-2.76-4.2-.36L12 6.17l-1.64 3.86-4.2.36 3.2 2.76-.96 4.1z\000022/\00003e\00003c/g\00003e\00003c/svg\00003e')
}

.lab-data {
  --av-timer-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  width=\00002224\000022  height=\00002224\000022  fill=\000022white\000022\00003e\00003cpath d=\000022M0 0h24v24H0z\000022  fill=\000022none\000022/\00003e\00003cpath d=\000022M15 1H9v2h6V1zm-4 13h2V8h-2v6zm8.03-6.61l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42A8.962 8.962 0 0 0 12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9a8.994 8.994 0 0 0 7.03-14.61zM12 20c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z\000022/\00003e\00003c/svg\00003e');
  --photo-filter-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  width=\00002248\000022  height=\00002248\000022\00003e\00003cpath fill=\000022none\000022  d=\000022M0 0h48v48H0V0z\000022/\00003e\00003cpath d=\000022M38.04 20v18H10V10h18V6H10.04c-2.2 0-4 1.8-4 4v28c0 2.2 1.8 4 4 4h28c2.2 0 4-1.8 4-4V20h-4zM34 20l1.88-4.12L40 14l-4.12-1.88L34 8l-1.88 4.12L28 14l4.12 1.88zm-7.5 1.5L24 16l-2.5 5.5L16 24l5.5 2.5L24 32l2.5-5.5L32 24z\000022  fill=\000022white\000022/\00003e\00003c/svg\00003e');
  --content-paste-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  width=\00002224\000022  height=\00002224\000022\00003e\00003cpath fill=\000022white\000022  d=\000022M19 2h-4.18C14.4.84 13.3 0 12 0c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm7 18H5V4h2v3h10V4h2v16z\000022/\00003e\00003cpath d=\000022M0 0h24v24H0z\000022  fill=\000022none\000022/\00003e\00003c/svg\00003e');
  --check-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  width=\00002248\000022  height=\00002248\000022\00003e\00003cpath d=\000022M0 0h48v48H0z\000022  fill=\000022none\000022/\00003e\00003cpath d=\000022M18 32.34L9.66 24l-2.83 2.83L18 38l24-24-2.83-2.83z\000022  fill=\000022white\000022/\00003e\00003c/svg\00003e');
  --search-icon-url: url('data:image/svg+xml;utf8,\00003csvg xmlns=\000022http://www.w3.org/2000/svg\000022  width=\00002248\000022  height=\00002248\000022\00003e\00003cpath d=\000022M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0a9 9 0 1 1 .001-18.001A9 9 0 0 1 19 28z\000022  fill=\000022white\000022/\00003e\00003cpath d=\000022M0 0h48v48H0z\000022  fill=\000022none\000022  /\00003e\00003c/svg\00003e');
  --subheader-font-size: 18px;
  --lh-audit-group-vpadding: 24px;
  --section-padding: 24px
}


.metric--fail .lh-metric__value::after {
  background: var(--fail-icon-url) no-repeat 50% 50%;
}

.metric--average .lh-metric__value::after {
  background: var(--average-icon-url) no-repeat 50% 50%;
}

.metric--pass .lh-metric__value::after {
  background: var(--pass-icon-url) no-repeat 50% 50%;
}

.metric--pass .lh-metric__value::after {
  background: var(--info-icon-url) no-repeat 50% 50%;
}

.metric--average {
  color: var(--average-color);
}

.metric--fail {
  color: var(--fail-color);
}

.metric--pass {
  color: var(--pass-color);
}

.metric--info {
  color: var(--informative-color);
}

.metric-bg--average {
  background: var(--average-color) !important;
}

.metric-bg--fail {
  background: var(--fail-color) !important;
}

.metric-bg--pass {
  background: var(--pass-color) !important;
}


.loading-spinner .text-center {
  color: red;
  animation: changecolor 3s linear infinite;
  -webkit-animation: changecolor 3s linear infinite;
}