<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: include(~{::title},~{::link},~{},~{::script},~{::body})}">
    <head>
        <title>Analyze - Consumer Reports</title>
        <link rel="stylesheet" href="/stylesheets/analyze.css" type="text/css">
        <script src="/js/analyze.js"></script>
        <script>
            var globalData = {};
            var substringMatcher = function(strs) {
                return function findMatches(q, cb) {
                    var matches, substringRegex;
                    matches = [];
                    substrRegex = new RegExp(q, 'i');
                    $.each(strs, function(i, str) {
                        if (substrRegex.test(str)) {
                            matches.push(str);
                        }
                    });
                    cb(matches);
                };
            };

            $( function() {
                loadDarkMode();
                $.ajax({
                    dataType: 'json',
                    method: 'GET',
                    url: "/urls/cro-list",
                    success: function (urllist) {
                        $('.url-and-analyze .typeahead').typeahead({
                                hint: true,
                                highlight: true,
                                minLength: 0,
                            },
                            {
                                name: 'urls',
                                source: substringMatcher(urllist),
                                limit: 10,
                            });

                    }
                });
            });
        </script>
        <div th:unless="${settings == 'true'}">
            <script th:inline="javascript">
                globalData.fetchSource = /*[[${fetchSource}]]*/ "lightHouseNoSave";
                globalData.strategy = /*[[${strategy}]]*/ "mobile";
                globalData.overrideAPI = /*[[${overrideAPI}]]*/ "";
                globalData.date = /*[[${date}]]*/ "mobile";
                globalData.secondAPI = null;
                globalData.mainAPI = 'https://www.googleapis.com/pagespeedonline/v5/runPagespeed';
                if (globalData.overrideAPI != "") {
                    globalData.mainAPI = globalData.overrideAPI;
                } else if (globalData.fetchSource == 'googleNoSave') {
                    globalData.mainAPI = 'https://www.googleapis.com/pagespeedonline/v5/runPagespeed';
                } else if (globalData.fetchSource == 'lightHouseNoSave') {
                    globalData.mainAPI = '/lighthouse';
                } else if (globalData.fetchSource == 'lightHouseAndSave') {
                    globalData.mainAPI = '/lighthouse';
                }  else if (globalData.fetchSource == 'repository'){
                    globalData.mainAPI = '/metrics/url';
                }
            </script>
        </div>
    </head>

    <body>



            <div class="d-flex justify-content-left">
               <h1 class="crux-headline--standard">Analyze Pagespeed Insight</h1>
            </div>


            <div class="main-action pt-4">
                <form>
                    <div class="url-and-analyze">

                        <div class="d-flex justify-content-center">
                            <input  type="text" name="url" class="url label-input-label typeahead"
                                                            placeholder="Enter a web page URL"
                                                            aria-label="Enter a web page URL">

                            <div class="analyze-cell">
                                <div class="button button-red analyze jfk-button main-submit" role="button" tabindex="0"
                                     style="user-select: none;"> ANALYZE
                                </div>
                            </div>

                        </div>

                        <div class="d-flex justify-content-center" style="margin-left: -560px;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="lightHouseAndSave">
                                <label class="form-check-label" for="lightHouseAndSave">
                                    Save results
                                </label>
                            </div>
                        </div>



                    </div>

                </form>


                <div class="goog-tab-bar result-tabs goog-tab-bar result-tabs-horizontal goog-tab-bar result-tabs-top"
                     role="tablist" style="user-select: none;">
                    <div class="tab-bar-wrapper" style="user-select: none; display: none;">
                        <div class="goog-tab goog-tab-selected" data-id="mobile" role="tab" aria-selected="true" tabindex="0"
                             id=":5"
                             style="user-select: none;">
                            <div style="user-select: none;">
                                <div class="tab-title" style="user-select: none;">Mobile</div>
                            </div>
                        </div>
                        <div class="goog-tab" role="tab" data-id="desktop" aria-selected="false" tabindex="0" id=":8"
                             style="user-select: none;">
                            <div style="user-select: none;">
                                <div class="tab-title" style="user-select: none;">Desktop</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="error-message" style="display: none;">
                <div style="margin: 20px 0 0 0">
                    <div class="text-left">
                        <div class="alert alert-danger" role="alert">An error occurred while fetching records. <br /> Please try again later.</div>
                    </div>
                </div>
            </div>


            <div class="container-fluid" style="min-height: 800px;">

                <div class="loading-spinner" style="display: none; margin-top: 200px;">
                    <div class="text-center">
                        <div class="spinner-grow spinner" style="width: 9rem; height: 9rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

                <div class="report-summary" style="display: none">
                    <div  class="d-flex justify-content-center pt-2 pb-2">
                        <div id="score-chart" style="width: 200px; height: 200px;"></div>
                        <div class="summary-description m-4">
                            <a target="_blank" class="audited-url" data-href="url" data-content="url"></a>
                            <p class="summary-message">The <a
                                    href="https://developers.google.com/web/tools/lighthouse/v3/scoring"
                                    target="_blank">speed score</a> is based on the lab data analyzed by <a
                                    href="https://developers.google.com/web/tools/lighthouse/" target="_blank">Lighthouse</a>.
                            </p>
                            <p class="summary-message">Analysis time: <span id="fetchTime" data-content="fetchTime"></span></p>
                            <div class="gauge-scale"><span>Scale:</span><span
                                    class="range fast">90-100 (fast)</span><span
                                    class="range average">50-89 (average)</span><span
                                    class="range slow">0-49 (slow)</span></div>
                        </div>

                    </div>
                </div>

                <script type="text/html" id="field-data-template">

                    <div class="field-data">
                        <div class="page-field-data d-flex justify-content-center">
                            <div class="container-fluid col-12 pt-2">
                                <div class="field-data-title row"><span class="title">Field Data</span></div>
                                <div class="field-data-description average row">Over the last 30 days, the field data shows that
                                    this page has an&nbsp;<b>Average</b>&nbsp;speed compared to other pages in the&nbsp;<a
                                            href="https://developers.google.com/web/tools/chrome-user-experience-report/"
                                            target="_blank">Chrome User Experience Report</a>. We are showing&nbsp;<a
                                            href="https://developers.google.com/speed/docs/insights/about#faq"
                                            target="_blank">the 90th percentile of FCP</a>&nbsp;and&nbsp;<a
                                            href="https://developers.google.com/speed/docs/insights/about#faq"
                                            target="_blank">the 95th percentile of FID</a>.
                                </div>
                                <div class="metrics row">
                                    <div class="metric-wrapper">
                                        <div data-class="fcp_category" data-format-target="class"
                                             data-format="CategoryFormatter"><span class="metric-description">First Contentful Paint (FCP)</span>
                                            <div class="metric-value" data-content="fcp_sec"
                                                 data-format="TimeMiliSecondFormatter"></div>
                                        </div>
                                        <div class="metric-chart">
                                            <div class="bar fast"
                                                 data-template-bind='[{"attribute": "style", "value": "fcp_flex_grow_fast", "formatter": "FlexGrowStyleFormatter"}]'
                                                 data-content="fcp_flex_grow_fast" data-format="PercentageFormatter"></div>
                                            <div class="bar average"
                                                 data-template-bind='[{"attribute": "style", "value": "fcp_flex_grow_average", "formatter": "FlexGrowStyleFormatter"}]'
                                                 data-content="fcp_flex_grow_average" data-format="PercentageFormatter"></div>
                                            <div class="bar slow"
                                                 data-template-bind='[{"attribute": "style", "value": "fcp_flex_grow_slow", "formatter": "FlexGrowStyleFormatter"}]'
                                                 data-content="fcp_flex_grow_slow" data-format="PercentageFormatter"></div>
                                        </div>
                                    </div>
                                    <div class="metric-wrapper">
                                        <div data-class="fid_category" data-format-target="class"
                                             data-format="CategoryFormatter"><span class="metric-description">First Input Delay (FID)</span>
                                            <div class="metric-value" data-content="fid_sec"
                                                 data-format="TimeMiliSecondFormatter"></div>
                                        </div>
                                        <div class="metric-chart">
                                            <div class="bar fast"
                                                 data-template-bind='[{"attribute": "style", "value": "fid_flex_grow_fast", "formatter": "FlexGrowStyleFormatter"}]'
                                                 data-content="fid_flex_grow_fast" data-format="PercentageFormatter"></div>
                                            <div class="bar average"
                                                 data-template-bind='[{"attribute": "style", "value": "fid_flex_grow_average", "formatter": "FlexGrowStyleFormatter"}]'
                                                 data-content="fid_flex_grow_average" data-format="PercentageFormatter"></div>
                                            <div class="bar slow"
                                                 data-template-bind='[{"attribute": "style", "value": "fid_flex_grow_slow", "formatter": "FlexGrowStyleFormatter"}]'
                                                 data-content="fid_flex_grow_slow" data-format="PercentageFormatter"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </script>


                <script type="text/html" id="diagnostics-chart-template">
                    <div class="lh-vars lab-data">
                        <div class="lh-category d-flex justify-content-center">
                            <div class="lh-audit-group lh-audit-group--metrics container-fluid col-12">
                                <div class="row">
                                    <div class="lh-audit-group__summary">
                                        <div class="lh-audit-group__header">Diagnostics</div>
                                    </div>
                                </div>
                                <div class="lh-audit-group__description row"><span>Collection of useful page vitals.</span></div>

                                <div class="lh-columns row">
                                    <div class="lh-column">
                                        <div class="lh-metric file-type-metrics" id="numScripts">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Scripts</span>
                                                <div class="lh-metric__value" data-format="NumberFormatter" data-format-options="getValue" data-content="numScripts"></div>
                                            </div>
                                        </div>
                                        <div class="lh-metric file-type-metrics" id="numFonts">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Fonts</span>
                                                <div class="lh-metric__value" data-format="NumberFormatter" data-format-options="getValue" data-content="numFonts"></div>
                                            </div>
                                        </div>
                                        <div class="lh-metric file-type-metrics" id="numStylesheets">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Stylesheets</span>
                                                <div class="lh-metric__value" data-format="NumberFormatter" data-format-options="getValue" data-content="numStylesheets"></div>
                                            </div>
                                        </div>

                                        <div class="lh-metric" id="mainDocumentTransferSize">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Main Document Transfer Size</span>
                                                <div class="lh-metric__value"  data-format="BytesFormatter"  data-format-options="getValue"  data-content="mainDocumentTransferSize"></div>
                                            </div>
                                        </div>



                                        <div class="lh-metric lh-metric--info" id="rtt">
                                            <div class="lh-metric__innerwrap  tooltip-boundary">
                                                <span class="lh-metric__title">Round Trip Time</span>
                                                <div class="lh-metric__value" data-toggle="tooltip" data-placement="top"
                                                     data-html="true" data-container="body"
                                                     data-content="rtt"
                                                     data-format="TimeMiliSecondFormatter" data-format-options="getValue"
                                                     title='<span>Round trip time (RTT) is the time required for a signal pulse or packet to travel from a specific source such as the computer that initiates the signal, to a specific destination such as a remote computer or system, and back. <a rel="noopener" target="_blank" href="https://www.cloudflare.com/learning/cdn/glossary/round-trip-time-rtt/">Learn more</a>.</span>'></div>
                                            </div>
                                        </div>

                                        <div class="lh-metric" id="maxRtt">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Maximum Round Trip Time</span>
                                                <div class="lh-metric__value" data-format="TimeMiliSecondFormatter" data-format-options="getValue" data-content="maxRtt"></div>
                                            </div>
                                        </div>

                                        <div class="lh-metric" id="maxServerLatency">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Max Server Latency</span>
                                                <div class="lh-metric__value" data-format="TimeMiliSecondFormatter" data-format-options="getValue" data-content="maxServerLatency"></div>
                                            </div>
                                        </div>

                                        <div class="lh-metric" id="totalByteWeight">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Total Page Weight</span>
                                                <div class="lh-metric__value" data-format="BytesFormatter" data-format-options="getValue"  data-content="totalByteWeight"></div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="lh-column">
                                        <div class="lh-metric" id="totalTaskTime">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Total Task Time</span>
                                                <div data-format="TimeMiliSecondFormatter" data-format-options="getValue" data-content="totalTaskTime" class="lh-metric__value"></div>
                                            </div>
                                        </div>

                                        <div class="lh-metric" id="numTasks">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Total Tasks</span>
                                                <div class="lh-metric__value" data-format="NumberFormatter" data-format-options="getValue" data-content="numTasks"></div>
                                            </div>
                                        </div>

                                        <div class="lh-metric tasks-metrics" id="numTasksOver10ms">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Tasks Over 10 ms</span>
                                                <div class="lh-metric__value" data-format="NumberFormatter" data-format-options="getValue" data-content="numTasksOver10ms"></div>
                                            </div>
                                        </div>
                                        <div class="lh-metric tasks-metrics" id="numTasksOver25ms">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Tasks Over 25 ms</span>
                                                <div class="lh-metric__value" data-format="NumberFormatter" data-format-options="getValue" data-content="numTasksOver25ms"></div>
                                            </div>
                                        </div>

                                        <div class="lh-metric tasks-metrics" id="numTasksOver50ms">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Tasks Over 50 ms</span>
                                                <div class="lh-metric__value" data-format="NumberFormatter" data-format-options="getValue" data-content="numTasksOver50ms"></div>
                                            </div>
                                        </div>
                                        <div class="lh-metric tasks-metrics" id="numTasksOver100ms">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Tasks Over 100 ms</span>
                                                <div class="lh-metric__value" data-format="NumberFormatter" data-format-options="getValue" data-content="numTasksOver100ms"></div>
                                            </div>
                                        </div>
                                        <div class="lh-metric tasks-metrics" id="numTasksOver500ms">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Tasks Over 500 ms</span>
                                                <div class="lh-metric__value" data-format="NumberFormatter"  data-format-options="getValue" data-content="numTasksOver500ms"></div>
                                            </div>
                                        </div>
                                        <div class="lh-metric" id="throughput">
                                            <div class="lh-metric__innerwrap">
                                                <span class="lh-metric__title">Throughput</span>
                                                <div class="lh-metric__value" data-format="BytesPerSecondFormatter" data-format-options="getValue" data-content="throughput"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="lh-columns row pt-2">
                                    <div class="lh-column">
                                        <div id="file-type-chart" style="width: 80%; height: 440px;"></div>
                                    </div>
                                    <div class="lh-column">
                                        <div id="tasks-chart" style="height: 440px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </script>

                <script type="text/html" id="analysis-chart-template">
                    <div class="lh-vars lab-data">
                        <div class="lh-category d-flex justify-content-center">
                            <div class="lh-audit-group lh-audit-group--metrics container-fluid col-12">
                                <div class="row">
                                    <div class="lh-audit-group__summary">
                                        <div class="lh-audit-group__header">Lab Data</div>
                                    </div>
                                </div>
                                <div class="lh-audit-group__description row"><span><a rel="noopener" target="_blank"
                                                                                      href="https://developers.google.com/web/tools/lighthouse/">Lighthouse</a> analysis of the current page on an emulated mobile network. Values are estimated and may vary.</span>
                                </div>
                                <div class="lh-columns row">
                                    <div class="lh-column">
                                        <div class="lh-metric" id="first-contentful-paint">
                                            <div class="lh-metric__innerwrap tooltip-boundary">
                                                <span class="lh-metric__title">First Contentful Paint</span>
                                                <div class="lh-metric__value" data-toggle="tooltip" data-placement="top"
                                                     data-html="true" data-container="body"
                                                     title='<span>First Contentful Paint marks the time at which the first text or image is painted. <a rel="noopener" target="_blank" href="https://developers.google.com/web/tools/lighthouse/audits/first-contentful-paint">Learn more</a>.</span>'></div>
                                            </div>
                                        </div>
                                        <div class="lh-metric" id="speed-index">
                                            <div class="lh-metric__innerwrap tooltip-boundary">
                                                <span class="lh-metric__title">Speed Index</span>
                                                <div class="lh-metric__value" data-toggle="tooltip" data-placement="top"
                                                     data-html="true" data-container="body"
                                                     title='<span>Speed Index shows how quickly the contents of a page are visibly populated. <a
                                                                rel="noopener" target="_blank"
                                                                href="https://developers.google.com/web/tools/lighthouse/audits/speed-index">Learn more</a>.</span>'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lh-metric" id="interactive">
                                            <div class="lh-metric__innerwrap tooltip-boundary">
                                                <span class="lh-metric__title">Time to Interactive</span>
                                                <div class="lh-metric__value" data-toggle="tooltip" data-placement="top"
                                                     data-html="true"
                                                     title='<span>Time to interactive is the amount of time it takes for the page to become fully interactive. <a
                                                                rel="noopener" target="_blank"
                                                                href="https://developers.google.com/web/tools/lighthouse/audits/consistently-interactive">Learn more</a>.</span>'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lh-column">
                                        <div class="lh-metric" id="first-meaningful-paint">
                                            <div class="lh-metric__innerwrap tooltip-boundary">
                                                <span class="lh-metric__title">First Meaningful Paint</span>
                                                <div class="lh-metric__value" data-toggle="tooltip" data-placement="top"
                                                     data-html="true"
                                                     title='<span>First Meaningful Paint measures when the primary content of a page is visible. <a
                                                                rel="noopener" target="_blank"
                                                                href="https://developers.google.com/web/tools/lighthouse/audits/first-meaningful-paint">Learn more</a>.</span>'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lh-metric" id="first-cpu-idle">
                                            <div class="lh-metric__innerwrap tooltip-boundary">
                                                <span class="lh-metric__title">First CPU Idle</span>
                                                <div class="lh-metric__value" data-toggle="tooltip" data-placement="top"
                                                     data-html="true"
                                                     title="<span>First CPU Idle marks the first time at which the page's main thread is quiet enough to handle input. <a
                                                                rel='noopener' target='_blank'
                                                                href='https://developers.google.com/web/tools/lighthouse/audits/first-interactive'>Learn more</a>.</span>">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lh-metric" id="estimated-input-latency">
                                            <div class="lh-metric__innerwrap tooltip-boundary">
                                                <span class="lh-metric__title">Estimated Input Latency</span>
                                                <div class="lh-metric__value" data-toggle="tooltip" data-placement="top"
                                                     data-html="true"
                                                     title='<span>Estimated Input Latency is an estimate of how long your app takes to respond to user input, in milliseconds, during the busiest 5s window of page load. If your latency is higher than 50 ms, users may perceive your app as laggy. <a
                                                                rel="noopener" target="_blank"
                                                                href="https://developers.google.com/web/tools/lighthouse/audits/estimated-input-latency">Learn more</a>.</span>'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </script>


                <div class="container-fluid" id="field-data-chart"></div>

                <div class="container-fluid" id="analysis-chart"></div>

                <div class="container-fluid" id="diagnostics-chart"></div>

                <div class="container-fluid d-flex flex-wrap col-12 pt-2 pb-2" id="screenshots"></div>
        </div>
    </body>
</html>