<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: include(~{::title},~{},~{::style},~{::script},~{::body})}">
    <head>
        <title>Reports - Consumer Reports</title>
        <style>
            #reports-chart .target td div {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: #fff;
                line-height: 40px;
                text-align: center;
                background: #675c5c;
            }

            #reports-chart {
                font-size: 1.6rem;
            }

            #reports-chart tr:hover {
                cursor: pointer;
            }
        </style>

        <script>
            /* reset */
            $(function () {
                $(".loading-spinner").show();


                $.ajax({
                    url: "/urls/", success: function (result) {
                        $("#records_table tbody").html('');
                        var urlRecords = [];
                        $.each(result, function (idx, elem) {
                            urlRecords.push({
                                    url: elem.url,
                                    title: elem.title,
                                    mobileLatestScore: elem.mobileLatestScore,
                                    mobilePreviousScore: elem.mobilePreviousScore,
                                    desktopLatestScore: elem.desktopLatestScore,
                                    desktopPreviousScore: elem.desktopPreviousScore,
                                    mobileLatestScoreCSS: {background: getScaleFromScore(elem.mobileLatestScore).color},
                                    mobilePreviousScoreCSS: {background: getScaleFromScore(elem.mobilePreviousScore).color},
                                    desktopLatestScoreCSS: {background: getScaleFromScore(elem.desktopLatestScore).color},
                                    desktopPreviousScoreCSS: {background: getScaleFromScore(elem.desktopPreviousScore).color},
                                }
                            );
                        });

                        $("#reports-chart").loadTemplate($("#reports-chart-template"), urlRecords, {"append": true});

                        $("#reports-chart").on("click", ".target", function () {
                            var url_to_check = $(this).attr("src");
                            window.location.href = "/analyze.html?url=" + url_to_check;
                        });

                       $(".loading-spinner").hide();
                    }
                });

            });
        </script>


    </head>
    <body>


        <div class="d-flex justify-content-left">
            <h1 class="crux-headline--standard">Latest Score Report</h1>
        </div>

        <script type="text/html" id="reports-chart-template">
            <tr class="target" data-src="url">
                <td data-content="title"></td>
                <td data-content="url"></td>
                <td style="background-color: #868686;"><span class="d-flex justify-content-center"><div data-css="mobileLatestScoreCSS" data-format="PercentageFormatterWithoutSign" data-format-options="showHyphenIfNull" data-content="mobileLatestScore"></div></span></td>
                <td><span class="d-flex justify-content-center"><div data-css="mobilePreviousScoreCSS" data-format="PercentageFormatterWithoutSign" data-format-options="showHyphenIfNull" data-content="mobilePreviousScore"></div></span></td>
                <td style="background-color: #868686;"><span class="d-flex justify-content-center"><div data-css="desktopLatestScoreCSS" data-format="PercentageFormatterWithoutSign" data-format-options="showHyphenIfNull" data-content="desktopLatestScore"></div></span></td>
                <td><span class="d-flex justify-content-center"><div data-css="desktopPreviousScoreCSS" data-format="PercentageFormatterWithoutSign" data-format-options="showHyphenIfNull" data-content="desktopPreviousScore"></div></span></td>
            </tr>
        </script>

        <div class="d-flex pt-4">
            <table id="records_table" class="table table-striped table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" colspan="2"></th>
                        <th scope="col" colspan="2" style="text-align: center">Mobile</th>
                        <th scope="col" colspan="2" style="text-align: center">Desktop</th>
                    </tr>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">URL</th>
                        <th scope="col" class="text-center">Latest Score</th>
                        <th scope="col" class="text-center">Previous Score</th>
                        <th scope="col" class="text-center">Latest Score</th>
                        <th scope="col" class="text-center">Previous Score</th>
                    </tr>
                </thead>
                <tbody id="reports-chart">
                    <tr>
                        <td colspan="6">
                            <div class="d-flex justify-content-center p-4">
                                <div class="loading-spinner" style="display: none; line-height: 300px;">
                                    <div class="text-center">
                                        <div class="spinner-grow spinner" style="width: 9rem; height: 9rem;" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>