<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: include(~{::title},~{},~{::style},~{::script},~{::body})}">
    <head>
        <title>Settings - Consumer Reports</title>
        <style>
            table {
                margin-bottom: 0 !important;
            }

            .btn {
                font-size: 1.3rem !important;
            }

            .checkbox-col {
                padding-left: 2rem !important;
            }

            .invalid-feedback {
                font-size: 1.3rem !important;
            }

            .errors {
                color: red;
                font-size: 1.4rem;
                font-weight: 400;
            }

            .settings .twitter-typeahead {
                width: 100%;
            }

            #settings-form tbody {
                font-size: 1.6rem;
            }


        </style>

        <script>
            /* reset */
            var resetAll = function(parent) {
                $(parent + " tbody .checkbox-col input").parent().parent().css({'text-decoration': 'inherit'});
                $(parent).closest('form')[0].reset();
                $(parent + " .checkbox-col").hide();
                $(parent + " .add-form-input").removeClass('show');
            }

            $(function () {
                $('.btn').on('click', function(){
                    $(this)
                        .data('original-text', $(this).text())
                        .text($(this).data('alt-text') )
                        .data('alt-text', $(this).data('original-text'));
                });

                /* reset form on post response */
                if ( window.history.replaceState ) {
                    window.history.replaceState( null, null, window.location.href );
                }

                $(".checkbox-col").hide();
                $(document).on("click", ".remove-btn", function () {
                    $(this).closest('.settings').find(".checkbox-col").toggle();
                });

                $(document).on("click", ".cancel-btn", function () {
                    resetAll($(this).closest('.settings'));
                });

                $(document).on("change", "form tbody .checkbox-col input", function () {
                    if(this.checked) {
                        $(this).parent().parent().css({'text-decoration': 'line-through'});
                    } else {
                        $(this).parent().parent().css({'text-decoration': 'inherit'});
                    }
                });

                $("#settings-form").submit(function( event ) {
                    if ($(".data-required:visible").length == 0) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    $(this).find(".data-required").removeAttr('required');
                    $(this).find(".data-required:visible").prop('required',true);
                    $(".data-required:visible").each(function () {
                        if (this.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                    });
                    this.classList.add('was-validated');
                });
            });



            var substringMatcher = function(strs) {
                return function findMatches(q, cb) {
                    var matches, substringRegex;
                    matches = [];
                    substrRegex = new RegExp(q, 'i');
                    $.each(strs, function(i, str) {
                        if (substrRegex.test(str)) {
                            matches.push(str);
                        }
                    });
                    cb(matches);
                };
            };

            $( function() {
                loadDarkMode();
                $.ajax({
                    dataType: 'json',
                    method: 'GET',
                    url: "/urls/cro-list",
                    success: function (urllist) {
                        $('#competitor-mapping-settings .url-cro').typeahead({
                                hint: true,
                                highlight: true,
                                minLength: 0,
                            },
                            {
                                name: 'urls',
                                source: substringMatcher(urllist),
                                limit: 10,
                            }).blur(function () {
                                if ($.inArray($(this).val(), urllist) === -1)
                                    console.log('Error : element not in list!');
                        });

                    }
                });

                $.ajax({
                    dataType: 'json',
                    method: 'GET',
                    url: "/urls/competitor-list",
                    success: function (urllist) {
                        $('#competitor-mapping-settings .url-competitor').typeahead({
                                hint: true,
                                highlight: true,
                                minLength: 0,
                            },
                            {
                                name: 'urls',
                                source: substringMatcher(urllist),
                                limit: 10,
                            }).blur(function () {
                            if ($.inArray($(this).val(), urllist) === -1)
                                console.log('Error : element not in list!');
                        });

                    }
                });
            });
        </script>


    </head>
    <body>


        <div class="d-flex justify-content-left">
            <h1 class="crux-headline--standard">Settings</h1>
        </div>

        <div class=" d-flex flex-column errors pt-4">
            <span th:each="error : *{errors}">
                <span th:text="${error}"></span>
            </span>
        </div>

        <form id="settings-form" method="post" class="needs-validation" novalidate>
            <div id="url-settings" class="settings d-flex flex-column">
                <div class="justify-content-left">
                    <table class="table table-striped table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th  style="background: #00ae4d;" colspan="3" scope="col">Templates to Monitor</th>
                            </tr>
                            <tr>
                                <th class="checkbox-col" scope="col"></th>
                                <th scope="col">Title</th>
                                <th scope="col">URL</th>
                             </tr>
                        </thead>
                        <tbody>
                            <tr th:each="url : *{urlList}">
                                <td  class="checkbox-col"><input class="form-check-input" type="checkbox" value=""></td>
                                <td th:text="${url.title}"></td>
                                <td th:text="${url.url}"></td>
                            </tr>
                            <tr class="collapse add-form-input" id="url-add-form-input">
                                <td class="checkbox-col"></td>
                                <td><input name="cro-title" type="text" placeholder="Enter Title" class="form-control data-required">
                                    <div class="invalid-feedback">Please provide a Title.</div>
                                </td>
                                <td><input name="cro-url" type="text" placeholder="Enter URL" class="form-control data-required">
                                    <div class="invalid-feedback">Please provide a URL.</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="justify-content-left p-2">
                    <button data-toggle="collapse" data-target="#url-add-form-input" type="button" data-alt-text="Remove New Template" class="btn btn-info url-settings-add-btn">Add New Template</button>
                    <button type="submit" class="btn btn-lg btn-primary submit-btn">Submit</button>
                    <button type="button" class="btn btn-warning remove-btn" data-alt-text="Cancel Removal">Remove</button>
                    <button type="button" class="btn btn-secondary cancel-btn">Cancel</button>
                </div>
            </div>

            <div id="competitor-settings" class="settings d-flex flex-column pt-5">
                <div class="justify-content-left">
                    <table class="table table-striped table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th  style="background: #4b93b1;" colspan="3" scope="col">Competitors to Monitor</th>
                        </tr>
                        <tr>
                            <th class="checkbox-col" scope="col"></th>
                            <th scope="col">Title</th>
                            <th scope="col">Brand</th>
                            <th scope="col">URL</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="competitor : *{competitorList}">
                            <td  class="checkbox-col"><input class="form-check-input" type="checkbox" value=""></td>
                            <td th:text="${competitor.title}"></td>
                            <td th:text="${competitor.brand}"></td>
                            <td th:text="${competitor.url}"></td>
                        </tr>
                        <tr class="collapse add-form-input" id="competitor-add-form-input">
                            <td class="checkbox-col"></td>
                            <td><input name="competitor-title" type="text" placeholder="Enter Title" class="form-control data-required">
                                <div class="invalid-feedback">Please provide a Title.</div>
                            </td>
                            <td><input name="competitor-brand" type="text" placeholder="Enter Brand" class="form-control data-required">
                                <div class="invalid-feedback">Please provide a Brand.</div>
                            </td>
                            <td><input name="competitor-url" type="text" placeholder="Enter URL" class="form-control data-required">
                                <div class="invalid-feedback">Please provide a URL.</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="justify-content-left p-2">
                    <button data-toggle="collapse" data-target="#competitor-add-form-input" type="button" data-alt-text="Remove New Competitor" class="btn btn-info competitor-settings-add-btn">Add New Competitor</button>
                    <button type="submit" class="btn btn-lg btn-primary submit-btn">Submit</button>
                    <button type="button" class="btn btn-warning remove-btn" data-alt-text="Cancel Removal">Remove</button>
                    <button type="button" class="btn btn-secondary cancel-btn">Cancel</button>
                </div>
            </div>

            <div id="competitor-mapping-settings" class="settings d-flex flex-column pt-5">
                <div class="justify-content-left">
                    <table class="table table-striped table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th  style="background: #00ae4d;" colspan="3" scope="col">Competitor-CRO Mapping</th>
                            </tr>
                            <tr>
                                <th class="checkbox-col" scope="col"></th>
                                <th scope="col">Competitor URL</th>
                                <th scope="col">CRO URL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="mapping : *{competitorMappingList}">
                                <td  class="checkbox-col"><input class="form-check-input" type="checkbox" value=""></td>
                                <td th:text="${mapping.competitor}"></td>
                                <td th:text="${mapping.cro}"></td>
                            </tr>
                            <tr class="collapse add-form-input" id="competitor-mapping-add-form-input">
                                <td class="checkbox-col"></td>

                                <td><input name="url-competitor" type="text" placeholder="Select Competitor URL" class="form-control data-required url-competitor typeahead">
                                    <div class="invalid-feedback">Please provide a URL.</div>
                                </td>
                                <td><input name="url-cro" type="text" placeholder="Select CRO URL" class="form-control data-required url-cro typeahead">
                                    <div class="invalid-feedback">Please provide a CRO URL to associate with competitor.</div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="justify-content-left p-2">
                    <button data-toggle="collapse" data-target="#competitor-mapping-add-form-input" type="button" data-alt-text="Remove New Mapping" class="btn btn-info mapping-settings-add-btn">Add New Mapping</button>
                    <button type="submit" class="btn btn-lg btn-primary submit-btn">Submit</button>
                    <button type="button" class="btn btn-warning remove-btn" data-alt-text="Cancel Removal">Remove</button>
                    <button type="button" class="btn btn-secondary cancel-btn">Cancel</button>
                </div>
            </div>


            <div id="email-settings"  class="settings d-flex flex-column pt-5">
                <div class="justify-content-left">
                    <table class="table table-striped table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th  style="background: #4b93b1;" colspan="3" scope="col">Email configuration</th>
                        </tr>
                        <tr>
                            <th class="checkbox-col" scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="email : *{emailList}">
                                <td  class="checkbox-col"><input class="form-check-input" type="checkbox" value=""></td>
                                <td th:text="${email.name}"></td>
                                <td th:text="${email.email}"></td>
                            </tr>
                            <tr class="collapse add-form-input" id="email-add-form-input">
                                <td class="checkbox-col"></td>
                                <td><input name="name" type="text" placeholder="Enter name" class="form-control data-required">
                                    <div class="invalid-feedback">Please provide a name.</div>
                                </td>
                                <td><input name="email" type="email" placeholder="Enter email" class="form-control data-required">
                                    <div class="invalid-feedback">Please provide an email.</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="justify-content-left p-2">
                    <button data-toggle="collapse" data-target="#email-add-form-input" type="button" class="btn btn-info email-settings-add-btn" data-alt-text="Cancel Adding Email">Add New Email</button>
                    <button type="submit" class="btn btn-lg btn-primary submit-btn">Submit</button>
                    <button type="button" class="btn btn-warning remove-btn" data-alt-text="Cancel Removal">Remove</button>
                    <button type="button" class="btn btn-secondary cancel-btn">Cancel</button>
                </div>
            </div>


       <!--     <div  class="d-flex flex-column pt-5">
                <div class="justify-content-left p-2">
                    <button  type="submit" class="btn btn-lg btn-primary submit-btn">Submit</button>
                </div>
            </div>-->
        </form>
    </body>
</html>