<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: include(~{::title},~{},~{::style},~{::script},~{::body})}">
    <head>
        <title>Settings - Consumer Reports</title>
        <style>
            table {
                margin-bottom: 0 !important;
            }

            .table td, .table th{
                word-break: break-word;
            }

            .btn {
                font-size: 1.3rem !important;
            }

            .checkbox-col {
                padding-left: 2rem !important;
            }

            .invalid-feedback {
                font-size: 1.3rem !important;
            }

            .errors {
                color: red;
                font-size: 1.4rem;
                font-weight: 400;
            }

            .settings .twitter-typeahead {
                width: 100%;
            }

            #settings-form tbody {
                font-size: 1.6rem;
            }

            .close {
                font-size: 3rem;
            }

            .spin {
                -webkit-animation: spin .4s infinite linear;
                -moz-animation: spin .4s infinite linear;
                -o-animation: spin .4s infinite linear;
                animation: spin .4s infinite linear;
                -webkit-transform-origin: 50% 50%;
                transform-origin:50% 50%;
                -ms-transform-origin:50% 50%; /* IE 9 */
            }

            @-moz-keyframes spin {rom {-moz-transform: rotate(0deg);} to { -moz-transform: rotate(360deg);}}
            @-webkit-keyframes spin {from {-webkit-transform: rotate(0deg); } to {-webkit-transform: rotate(360deg); }}
            @keyframes spin {from {transform: rotate(0deg);}to {transform: rotate(360deg);}}

            #settings-form .loading {
                width: 17rem;
                text-align: left;
            }

            #settings-form .loading:after {
                overflow: hidden;
                display: inline-block;
                vertical-align: bottom;
                -webkit-animation: ellipsis steps(4,end) 900ms infinite;
                animation: ellipsis steps(4,end) 900ms infinite;
                content: "\2026"; /* ascii code for the ellipsis character */
                width: 0px;
            }

            @keyframes ellipsis {
                to {
                    width: 1.25em;
                }
            }

            @-webkit-keyframes ellipsis {
                to {
                    width: 1.25em;
                }
            }
        </style>

        <script th:inline="javascript">
            var globalData = {};
            globalData.urlList = /*[[${urlList}]]*/ "";
            globalData.competitorList = /*[[${competitorList}]]*/ "";
            globalData.isEditAllowed = /*[[${isEditAllowed}]]*/ "";
        </script>

        <script>
            globalData.croURLs = $.map(globalData.urlList, function(url, i){
                return url.url;
            });

            globalData.competitorURLs = $.map(globalData.competitorList, function(url, i){
                return url.url;
            });

            /* reset */
            var resetAll = function(parent) {
                $(parent + " tbody .checkbox-col input").parent().parent().css({'text-decoration': 'inherit'});
                $(parent).closest('form')[0].reset();
                $(parent + " .checkbox-col").hide();
                $(parent + " .add-form-input").removeClass('show');
            }
            /* reset */

            function startTimeSpent(container) {
                var dt = new Date();
                var ss = $(container).find(".run-time").html().split(":");
                dt.setHours(0);
                dt.setMinutes(ss[0]);
                dt.setSeconds(ss[1]);
                var dt2 = new Date(dt.valueOf() + 1000);
                var temp = dt2.toTimeString().split(" ");
                var ts = temp[0].split(":");
                $(container).find(".run-time").html(ts[1]+":"+ts[2]);
                if (globalData.runTimeEvent == null) {
                    globalData.runTimeEvent = setInterval(function() { startTimeSpent(container); }, 1000);
                }
            }

            function pauseTimeSpent() {
                clearInterval(globalData.runTimeEvent);
                globalData.runTimeEvent = null;
            }

            function clearTimeSpent(container) {
                clearInterval(globalData.runTimeEvent);
                globalData.runTimeEvent = null;
                $(container).find(".run-time").html("00:00");
            }

            $(function () {
                if (!globalData.isEditAllowed) {
                    $("#login").modal({
                        show: true,
                        keyboard: false,
                        backdrop: 'static'
                    });

                    $('#login').on('hidden.bs.modal', function (e) {
                        window.location.href = "/";
                    })

                }

                $('.btn').on('click', function(){
                    $(this)
                        .data('original-text', $(this).text())
                        .text($(this).data('alt-text') )
                        .data('alt-text', $(this).data('original-text'));
                });

                /* reset form on post response */
                if ( window.history.replaceState ) {
                    window.history.replaceState( null, null, window.location.href );
                }

                $(".checkbox-col").hide();
                $(document).on("click", ".remove-btn", function () {
                    $(this).closest('.settings').find(".checkbox-col").toggle();
                });

                $(document).on("click", ".cancel-btn", function () {
                    resetAll($(this).closest('.settings'));
                });

                $(document).on("change", "form tbody .checkbox-col input", function () {
                    if(this.checked) {
                        $(this).parent().parent().css({'text-decoration': 'line-through'});
                    } else {
                        $(this).parent().parent().css({'text-decoration': 'inherit'});
                    }
                });

                $("#settings-form").submit(function( event ) {
                    if ($(".data-required:visible").length == 0) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    $(this).find(".data-required").removeAttr('required');
                    $(this).find(".data-required:visible").prop('required',true);
                    $(".data-required:visible").each(function () {
                        if (this.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                    });
                    this.classList.add('was-validated');
                });
            });



            var substringMatcher = function(strs) {
                return function findMatches(q, cb) {
                    var matches, substringRegex;
                    matches = [];
                    substrRegex = new RegExp(q, 'i');
                    $.each(strs, function(i, str) {
                        if (substrRegex.test(str)) {
                            matches.push(str);
                        }
                    });
                    cb(matches);
                };
            };

            $( function() {
                $('#competitor-mapping-settings .mapping-url-cro').typeahead({
                        hint: true,
                        highlight: true,
                        minLength: 0,
                    },
                    {
                        name: 'urls',
                        source: substringMatcher(globalData.croURLs),
                        limit: 10,
                    }).blur(function () {
                    if ($.inArray($(this).val(), globalData.croURLs) === -1)
                        console.log('Error : element not in list!');
                });

                $('#competitor-mapping-settings .mapping-url-competitor').typeahead({
                        hint: true,
                        highlight: true,
                        minLength: 0,
                    },
                    {
                        name: 'urls',
                        source: substringMatcher(globalData.competitorURLs),
                        limit: 10,
                    }).blur(function () {
                    if ($.inArray($(this).val(), globalData.competitorURLs) === -1)
                        console.log('Error : element not in list!');
                });


                var processURLs = function(urls, container) {
                    var processIndex = -1;
                    var processStrategy = "mobile";
                    var processURLsLength = urls.length;
                    var stopProcessing = false;
                    var submitBtn = $(container + " .submit-btn");

                    submitBtn.on("click", function () {
                        $(submitBtn).addClass("loading");
                        $(this).html('<i style="position: absolute;" class="material-icons spin">autorenew</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stop Processing');
                        if (processIndex >= 0) {
                            clearTimeSpent(container);
                            stopProcessing = true;
                            submitBtn.html('<i style="position: absolute;" class="material-icons spin">autorenew</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stopping');
                            return;
                        }
                        processIndex = 0;
                        globalData.runTimeEvent = null;
                        startTimeSpent(container);
                        var processURL = function () {
                            if (stopProcessing) {
                                $(".run-status").hide();
                                $(submitBtn).removeClass("loading");
                                submitBtn.html("Process Lighthouse reports");
                                return;
                            }
                            $(container).find(".run-status").show();
                            if (processStrategy == "mobile" && processIndex == processURLsLength) {
                                processStrategy = "desktop";
                                processIndex = 0;
                            }
                            if (processStrategy == "desktop" && processIndex == processURLsLength) {
                                //$(".run-status").hide();
                                $(submitBtn).removeClass("loading");
                                submitBtn.html("Process Lighthouse reports");
                                pauseTimeSpent();
                                return;
                            }

                            $(container).find(".run-url").html(urls[processIndex]);
                            $(container).find(".run-strategy").html(processStrategy);
                            $(container).find(".run-current-number").html((processStrategy == "mobile") ? processIndex + 1 : processURLsLength + processIndex + 1);
                            $(container).find(".run-total").html(2 * processURLsLength);

                            $.ajax({
                                data: {
                                    url: urls[processIndex],
                                    strategy: processStrategy,
                                    category: 'performance',
                                    locale: 'en_US',
                                    suppressOutput: true,
                                    fetchSource: 'lightHouseAndSave',
                                },
                                dataType: 'json',
                                method: 'GET',
                                url: "/lighthouse",
                                success: function (response) {
                                    processIndex++;
                                    processURL();
                                },
                                error: function (response) {
                                    $(container).find(".run-errors-container").show();
                                    $(container).find(".run-errors").append("<div>" + urls[processIndex] + " - " + processStrategy + "</div>");
                                    processIndex++;
                                    processURL();
                                }
                            });
                        }
                        processURL();
                        $(container).find(".run-status").show();

                    });
                };
                processURLs(globalData.croURLs, ".process-lighthouse-reports-cro-container");
                processURLs(globalData.competitorURLs, ".process-lighthouse-reports-competitor-container");
            });

        </script>


    </head>
    <body>


        <div class="d-flex justify-content-left">
            <h1 class="crux-headline--standard">Settings</h1>
        </div>

        <div class=" d-flex flex-column errors pt-4">
            <span th:each="error : *{errors}">
                <span th:text="${error}"></span>
            </span>
        </div>

        <form id="settings-form" method="post" class="needs-validation" novalidate>
            <div id="url-settings" class="settings d-flex flex-column">
                <div class="justify-content-left">
                    <table class="table table-striped table-hover table-bordered"  th:classappend="${isDarkMode} ? ' table-dark' : 'table-light'">
                        <thead th:class="${isDarkMode} ? 'thead-dark' : 'thead-light'">
                            <tr>
                                <th  style="background: #176301a8; color: #fff;" colspan="3" scope="col">Templates to Monitor</th>
                            </tr>
                            <tr>
                                <th class="checkbox-col" scope="col"></th>
                                <th scope="col">Title</th>
                                <th scope="col">URL</th>
                             </tr>
                        </thead>
                        <tbody>
                            <tr th:each="url : *{urlList}">
                                <td  class="checkbox-col"><input class="form-check-input" type="checkbox" value=""></td>
                                <td th:text="${url.title}"></td>
                                <td th:text="${url.url}"></td>
                            </tr>
                            <tr class="collapse add-form-input" id="url-add-form-input">
                                <td class="checkbox-col"></td>
                                <td><input name="cro-title" type="text" placeholder="Enter Title" class="form-control data-required">
                                    <div class="invalid-feedback">Please provide a Title.</div>
                                </td>
                                <td><input name="cro-url" type="text" placeholder="Enter URL" class="form-control data-required">
                                    <div class="invalid-feedback">Please provide a URL.</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="justify-content-left p-2">
                    <button data-toggle="collapse" data-target="#url-add-form-input" type="button" data-alt-text="Remove New Template" class="btn btn-info url-settings-add-btn">Add New Template</button>
                    <button type="submit" class="btn btn-lg btn-primary submit-btn">Submit</button>
                    <button type="button" class="btn btn-warning remove-btn" data-alt-text="Cancel Removal">Remove</button>
                    <button type="button" class="btn btn-secondary cancel-btn">Cancel</button>
                </div>
            </div>

            <div id="competitor-settings" class="settings d-flex flex-column pt-5">
                <div class="justify-content-left">
                    <table class="table table-striped table-hover table-bordered"  th:classappend="${isDarkMode} ? ' table-dark' : 'table-light'">
                        <thead th:class="${isDarkMode} ? 'thead-dark' : 'thead-light'">
                        <tr>
                            <th  style="background: #4c8ca7; color: #fff;" colspan="3" scope="col">Competitors to Monitor</th>
                        </tr>
                        <tr>
                            <th class="checkbox-col" scope="col"></th>
                            <th scope="col" style="width: 150px">Title</th>
                            <th scope="col" style="width: 150px">Brand</th>
                            <th scope="col">URL</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="competitor : *{competitorList}">
                            <td  class="checkbox-col"><input class="form-check-input" type="checkbox" value=""></td>
                            <td th:text="${competitor.title}"></td>
                            <td th:text="${competitor.brand}"></td>
                            <td th:text="${competitor.url}"></td>
                        </tr>
                        <tr class="collapse add-form-input" id="competitor-add-form-input">
                            <td class="checkbox-col"></td>
                            <td><input name="competitor-title" type="text" placeholder="Enter Title" class="form-control data-required">
                                <div class="invalid-feedback">Please provide a Title.</div>
                            </td>
                            <td><input name="competitor-brand" type="text" placeholder="Enter Brand" class="form-control data-required">
                                <div class="invalid-feedback">Please provide a Brand.</div>
                            </td>
                            <td><input name="competitor-url" type="text" placeholder="Enter URL" class="form-control data-required">
                                <div class="invalid-feedback">Please provide a URL.</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="justify-content-left p-2">
                    <button data-toggle="collapse" data-target="#competitor-add-form-input" type="button" data-alt-text="Remove New Competitor" class="btn btn-info competitor-settings-add-btn">Add New Competitor</button>
                    <button type="submit" class="btn btn-lg btn-primary submit-btn">Submit</button>
                    <button type="button" class="btn btn-warning remove-btn" data-alt-text="Cancel Removal">Remove</button>
                    <button type="button" class="btn btn-secondary cancel-btn">Cancel</button>
                </div>
            </div>

            <div id="competitor-mapping-settings" class="settings d-flex flex-column pt-5">
                <div class="justify-content-left">
                    <table class="table table-striped table-hover table-bordered"  th:classappend="${isDarkMode} ? ' table-dark' : 'table-light'">
                        <thead th:class="${isDarkMode} ? 'thead-dark' : 'thead-light'">
                            <tr>
                                <th  style="background: #176301a8; color: #fff;" colspan="4" scope="col">Competitor-CRO Mapping</th>
                            </tr>
                            <tr>
                                <th class="checkbox-col" scope="col" style="width: 20px"></th>
                                <th scope="col" style="width: 150px">Title</th>
                                <th scope="col">Competitor URL</th>
                                <th scope="col" style="width: 45%">CRO URL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="url : *{urlList}">
                                <span th:if="${url.competitorUrl!= null}" th:remove="tag">
                                <td  class="checkbox-col"><input class="form-check-input" type="checkbox" value=""></td>
                                <td th:text="${url.title}"></td>
                                <td th:text="${url.competitorUrl.url}"></td>
                                <td th:text="${url.url}"></td>
                                </span>
                            </tr>
                            <tr class="collapse add-form-input" id="competitor-mapping-add-form-input">
                                <td class="checkbox-col"></td>
                                <td></td>
                                <td><input name="mapping-url-competitor" type="text" placeholder="Select Competitor URL" class="form-control data-required mapping-url-competitor typeahead">
                                    <div class="invalid-feedback">Please provide a URL.</div>
                                </td>
                                <td><input name="mapping-url-cro" type="text" placeholder="Select CRO URL" class="form-control data-required mapping-url-cro typeahead">
                                    <div class="invalid-feedback">Please provide a CRO URL to associate with competitor.</div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="justify-content-left p-2">
                    <button data-toggle="collapse" data-target="#competitor-mapping-add-form-input" type="button" data-alt-text="Remove New Mapping" class="btn btn-info mapping-settings-add-btn">Add New Mapping</button>
                    <button type="submit" class="btn btn-lg btn-primary submit-btn">Submit</button>
                    <button type="button" class="btn btn-warning remove-btn" data-alt-text="Cancel Removal">Remove</button>
                    <button type="button" class="btn btn-secondary cancel-btn">Cancel</button>
                </div>
            </div>


            <div id="email-settings"  class="settings d-flex flex-column pt-5">
                <div class="justify-content-left">
                    <table class="table table-striped table-hover table-bordered"  th:classappend="${isDarkMode} ? ' table-dark' : 'table-light'">
                        <thead th:class="${isDarkMode} ? 'thead-dark' : 'thead-light'">
                        <tr>
                            <th  style="background: #4c8ca7; color: #fff;" colspan="3" scope="col">Email configuration</th>
                        </tr>
                        <tr>
                            <th class="checkbox-col" scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="email : *{emailList}">
                                <td  class="checkbox-col"><input class="form-check-input" type="checkbox" value=""></td>
                                <td th:text="${email.name}"></td>
                                <td th:text="${email.email}"></td>
                            </tr>
                            <tr class="collapse add-form-input" id="email-add-form-input">
                                <td class="checkbox-col"></td>
                                <td><input name="name" type="text" placeholder="Enter name" class="form-control data-required">
                                    <div class="invalid-feedback">Please provide a name.</div>
                                </td>
                                <td><input name="email" type="email" placeholder="Enter email" class="form-control data-required">
                                    <div class="invalid-feedback">Please provide an email.</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="justify-content-left p-2">
                    <button data-toggle="collapse" data-target="#email-add-form-input" type="button" class="btn btn-info email-settings-add-btn" data-alt-text="Cancel Adding Email">Add New Email</button>
                    <button type="submit" class="btn btn-lg btn-primary submit-btn">Submit</button>
                    <button type="button" class="btn btn-warning remove-btn" data-alt-text="Cancel Removal">Remove</button>
                    <button type="button" class="btn btn-secondary cancel-btn">Cancel</button>
                </div>
            </div>

            <div  class="d-flex flex-column pt-5 process-lighthouse-reports process-lighthouse-reports-cro-container">

                <div class="run-status" style="font-size: 1.4rem; display: none;">
                    <div><strong>Currently processing for... </strong></div>
                    <div class="d-block-flex">
                        <div>
                            <strong>Processing: </strong><span class="run-current-number"></span> of <span class="run-total"></span>
                        </div>
                        <div>
                             <strong>URL: </strong><span class="run-url"></span>
                         </div>
                        <div>
                            <strong>Strategy: </strong><span class="run-strategy"></span>
                        </div>
                        <div>
                            <strong>Time spent: </strong><span class="run-time">00:00</span>
                        </div>
                        <div class="run-errors-container" style="display: none">
                            <strong>Processing errors: </strong>
                            <div class="run-errors text-danger">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="justify-content-left pt-4">
                    <button type="button" class="btn btn-lg btn-primary submit-btn">Process Lighthouse reports</button>
                </div>
            </div>



            <div  class="d-flex flex-column pt-5 process-lighthouse-reports process-lighthouse-reports-competitor-container">

                <div class="run-status" style="font-size: 1.4rem; display: none;">
                    <div><strong>Currently processing for... </strong></div>
                    <div class="d-block-flex">
                        <div>
                            <strong>Processing: </strong><span class="run-current-number"></span> of <span class="run-total"></span>
                        </div>
                        <div>
                            <strong>URL: </strong><span class="run-url"></span>
                        </div>
                        <div>
                            <strong>Strategy: </strong><span class="run-strategy"></span>
                        </div>
                        <div>
                            <strong>Time spent: </strong><span class="run-time">00:00</span>
                        </div>
                        <div class="run-errors-container" style="display: none">
                            <strong>Processing errors: </strong>
                            <div class="run-errors text-danger">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="justify-content-left pt-4">
                    <button type="button" class="btn btn-lg btn-primary submit-btn">Process Lighthouse reports for Competitors</button>
                </div>
            </div>


        </form>

        <div id="login" class="modal dark-mode-theme-override" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title">Access denied</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center"><img style="max-width: 200px; max-height: 200px" src="/images/lock-sm.png"></div>
                        <p class="text-center">You do not have permissions to modify settings</p>
                    </div>
                    <!--<div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>-->
                </div>
            </div>
        </div>
    </body>
</html>